<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="ServicesToWatch" value="[Sonarr:Sonarr.Console];[Radarr:Radarr];[Radarr-4K:nssm];[Lidarr:Lidarr.Console];[Readarr:Readarr.Console];[Prowlarr:Prowlarr.Console];[Jackett:JackettService];[NZBGet:nzbget];[Ombi:nssm]"/>
    <add key="IntervalMinutes" value="2" />
  </appSettings>
</configuration>