<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="ServicesToWatch" value="[Sonarr;Sonarr.Console;http://localhost:8989/]|[Radarr;Radarr;http://localhost:7878/]|[Radarr-4K;nssm;http://localhost:7879/]|[Lidarr;Lidarr.Console;http://localhost:8686/]|[Readarr;Readarr.Console;http://localhost:8787/]|[Bazarr;nssm;http://localhost:6767/]|[Prowlarr;Prowlarr.Console;http://localhost:9696/]|[Jackett;JackettService;http://localhost:9117/]|[NZBGet;nzbget;http://localhost:6789/]|[Ombi;nssm;http://localhost:9999/]|[AudiobookShelf;nssm;http://localhost:13378/]|[telegraf;telegraf]|[OhmGraphite;OhmGraphite]"/>
    <add key="IntervalMinutes" value="2" />
    <add key="EmailSmtp" value="smtp.gmail.com" />
    <add key="EmailPort" value="587" />
    <add key="EmailSsl" value="true" />
    <add key="EmailUserName" value="jamie.brindle7@gmail.com" />
    <add key="EmailPassword" value="aqpkjhslznafpain" />
    <add key="EmailFrom" value="jamie.brindle7@gmail.com" />
    <add key="EmailTo" value="jamie.brindle7@gmail.com" />
  </appSettings>
</configuration>